<!-- Sección: Misión y Visión -->
<section
  class="min-h-screen grid grid-cols-1 md:grid-cols-2 rounded-lg overflow-hidden"
>
  <!-- Misión -->
  <div
    class="bg-[#dc2626] dark:bg-gray-900 flex flex-col justify-center px-10 py-16"
  >
    <h2 class="text-5xl font-extrabold tracking-tight text-white mb-6">
      Imagotipo
    </h2>
    <p class="text-lg text-white leading-relaxed max-w-xl">
      El imagotipo representa una versión animada de Diego Suárez, desarrollador
      web, transmitiendo cercanía y profesionalismo. La ilustración muestra a
      Diego con suéter y gafas, elementos que reflejan un estilo moderno y
      accesible, ideal para conectar con clientes y proyectos creativos.
      Acompañando la imagen, el nombre “Diego Suárez” se presenta con tipografía
      limpia y legible, reforzado por la frase “Desarrollador Web” que define su
      especialidad. Este imagotipo fusiona la identidad personal con la
      profesional, proyectando confianza, innovación y un enfoque personalizado
      en cada proyecto digital.
    </p>
  </div>

  <!-- Visión -->
  <div class="bg-white flex flex-col justify-center px-10 py-16 items-center">
    <!-- Logo -->
    <img src="/Recurso21.svg" alt="Logo Diego Suarez" class="w-72 h-72 mb-6" />
  </div>
</section>
