<!-- Sección: Introducción -->
<section
    class="min-h-screen flex flex-col px-20 items-start justify-center py-16  bg-white dark:bg-gray-900 rounded-lg"
>
    <h2 class="text-5xl font-extrabold tracking-tight text-[#dc2626] mb-8">
        Introducción
    </h2>

    <p
        class="text-lg text-gray-700 dark:text-gray-300 max-w-3xl leading-relaxed mb-6"
    >
        Este <span class="font-semibold text-[#dc2626]"
            >Manual de Identidad de Marca</span
        > establece las directrices clave para proteger y proyectar la esencia visual
        y conceptual de <span class="font-semibold text-[#dc2626]"
            >Diego Suárez</span
        >, desarrollador de software. Contiene la guía precisa para el uso
        correcto del logotipo, la paleta cromática, la tipografía y las
        aplicaciones adecuadas e inadecuadas del imagotipo.
    </p>

    <p
        class="text-lg text-gray-700 dark:text-gray-300 max-w-3xl leading-relaxed"
    >
        Su propósito es asegurar una comunicación visual consistente y
        profesional, transmitiendo de forma clara los valores de confianza,
        innovación y autenticidad que definen la marca, garantizando así un
        impacto memorable en cada interacción.
    </p>
</section>
