---
import Layout from "@layouts/Layout.astro";
import ContactForm from "@components/ContactForm.astro";
import SectionContainer from "@components/ui/SectionContainer.astro";
import SectionTitle from "@components/ui/SectionTitle.astro";
import ThemeToggle from "@components/ui/ThemeToggle.astro";
import LanguageToggle from "@components/ui/LanguageToggle.astro";
import PhoneIcon from "@components/icons/PhoneIcon.astro";
import ArrowRightIcon from "@components/icons/ArrowRight.astro";
---

<Layout>
  <!-- Barra de navegación -->
  <nav class="bg-white dark:bg-gray-800 shadow-lg">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center h-16">
        <!-- Logo -->
        <div class="flex-shrink-0">
          <a
            href="/"
            class="flex items-center space-x-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            <img
              src="/images/Logo-Coopidrogas.webp"
              alt="Logo"
              width="50"
              height="50"
              class="rounded-full"
            />
            <span>Mi Portafolio</span>
          </a>
        </div>

        <!-- Botones -->
        <div class="flex items-center space-x-6">
          <!-- Tema e Idioma -->
          <div class="flex items-center space-x-4">
            <ThemeToggle />
            <LanguageToggle />
          </div>
          <!-- Botón Atrás -->
          <a
            href="/"
            class="inline-flex items-center px-5 py-2 text-lg text-gray-900 dark:text-white bg-gray-100 dark:bg-gray-700 rounded-full shadow-md hover:bg-gray-200 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-transform transform hover:scale-105"
          >
            Regresar

            <!-- Ícono SVG de reversa -->
            <ArrowRightIcon class="w-5 h-5 ml-2" />
          </a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Sección de contacto -->
  <SectionContainer id="contact" class="py-12 md:py-20 px-6">
    <SectionTitle>
      <PhoneIcon class="w-8 h-8 text-blue-500 dark:text-blue-400" />
      Contáctame
    </SectionTitle>
    <p
      class="text-lg text-center md:text-left mb-8 text-gray-700 dark:text-gray-300"
    >
      Completa el formulario y recibiré tu mensaje de inmediato. Responderé lo
      más rápido posible.
    </p>
    <ContactForm />
  </SectionContainer>
</Layout>
