---
import Layout from "@layouts/Layout.astro";
import ContactForm from "@components/ContactForm.astro";
import SectionContainer from "@components/ui/SectionContainer.astro";
import SectionTitle from "@components/ui/SectionTitle.astro";

import PhoneIcon from "@components/icons/PhoneIcon.astro";
import NavbarPage from "@components/NavbarPage.astro";
---

<Layout>
  <!-- Barra de navegación -->
  <NavbarPage/>
  <!-- Sección de contacto -->
  <SectionContainer id="contact" class="py-28 md:py-32">
    <SectionTitle>
      <PhoneIcon class="size-8"/>
      Contáctame
    </SectionTitle>
    <p
      class="text-lg text-center md:text-left mb-8 text-gray-700 dark:text-gray-300"
    >
      Completa el formulario y recibiré tu mensaje de inmediato. Responderé lo
      más rápido posible.
    </p>
    <ContactForm />
  </SectionContainer>
</Layout>
