---
import SectionTitle from "@ui/SectionTitle.astro";
import SectionContainer from "@ui/SectionContainer.astro";
import ProjectsCards from "@components/Project.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <section class="py-32 md:py-28 px-20">
    <SectionTitle>Proyecto</SectionTitle>
    <p class="font-Poppins">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit possimus nostrum consequuntur culpa? Provident consequuntur, commodi dolor culpa quaerat, accusantium maiores, eligendi vero aperiam aspernatur optio iste quisquam expedita magni?</p>
    <ProjectsCards />
  </section>
</Layout>
