<!-- About Me Section -->
<section class="container mx-auto px-6 py-16" id="about">
  <div
    class="flex flex-col lg:flex-row items-center justify-center space-y-8 lg:space-y-0 lg:space-x-12"
  >
    <!-- Image -->
    <div class="lg:w-1/3">
      <img
        src="/image/Avatar-Dark.webp"
        alt="My Photo"
        class="rounded-full shadow-lg"
        data-aos="fade-right"
      />
    </div>

    <!-- Text -->
    <div class="lg:w-2/3 space-y-6" data-aos="fade-left">
      <h2 class="text-4xl text-center lg:text-left text-gray-800 section-title">
        About Me
      </h2>
      <p class="text-xl text-gray-600">
        Hello, I’m Diego, a passionate software developer from Colombia. I
        specialize in web development, including technologies like Tailwind CSS,
        JavaScript, and Node.js. I love learning new things and solving complex
        problems through coding.
      </p>

     

      <!-- Icons -->
      <div class="flex space-x-6 text-3xl text-gray-700">
        <a
          href="https://github.com"
          target="_blank"
          class="hover:text-black transition duration-300"
        >
          <i class="fab fa-github"></i>
        </a>
        <a
          href="https://www.linkedin.com"
          target="_blank"
          class="hover:text-blue-600 transition duration-300"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a
          href="mailto:your-email@example.com"
          class="hover:text-red-500 transition duration-300"
        >
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</section>
