---
import NavbarComponent from "@ui/NabvarComponent.astro";
import HomeIcon from "@icons/HomeIcon.astro";

interface Link {
  href: string;
  label: string;
  icon?: any;
}

const links: Link[] = [{ href: "/", label: "Inicio", icon: HomeIcon }];
---

<NavbarComponent>
  {
    links.map(({ href, label, icon: Icon }) => (
      <a
        href={href}
        class="nav-link px-4 py-2 text-center rounded-full text-gray-500 dark:text-gray-200 hover:bg-custom-gradient hover:text-white transition flex justify-center items-center mx-2 md:mx-0 mb-1 md:mb-0"
        data-section={href.substring(1)}
        aria-label={`Go to ${label}`}
      >
        {/* Renderiza el icono correctamente */}
        {Icon && <Icon class="mr-2 size-6" />}
        {label}
      </a>
    ))
  }
</NavbarComponent>
