---
// Importa el componente
import ProjectCard from "@ui/ProjectCard.astro";
import GitIcon from "@icons/GitIcon.astro";
import ArrowRight from "@icons/ArrowRight.astro";

// Datos de ejemplo
const projects = [
  {
    imageUrl: "/images/img.png",
    imageAlt: "Vista previa del proyecto 1",
    title: "Proyecto 1",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor non error neque expedita ab adipisci est tempore quibusdam.",
    skills: [
      { name: "Git", icon: GitIcon }, // Pasa el componente GitIcon
      { name: "Git", icon: GitIcon }, // Pasa el componente GitIcon
      { name: "Git", icon: GitIcon }, // Pasa el componente GitIcon
    ],
    githubLink: "https://github.com",
    demoLink: "https://example.com",
  },
  {
    imageUrl: "/images/img.png",
    imageAlt: "Vista previa del proyecto 1",
    title: "Proyecto 1",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor non error neque expedita ab adipisci est tempore quibusdam.",
    skills: [
      { name: "Git", icon: GitIcon }, // Pasa el componente GitIcon
      { name: "Git", icon: GitIcon }, // Pasa el componente GitIcon
      { name: "Git", icon: GitIcon }, // Pasa el componente GitIcon
    ],
    githubLink: "https://github.com",
    demoLink: "https://example.com",
  },
  {
    imageUrl: "/images/img.png",
    imageAlt: "Vista previa del proyecto 1",
    title: "Proyecto 1",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor non error neque expedita ab adipisci est tempore quibusdam.",
    skills: [
      { name: "Git", icon: GitIcon }, // Pasa el componente GitIcon
      { name: "Git", icon: GitIcon }, // Pasa el componente GitIcon
      { name: "Git", icon: GitIcon }, // Pasa el componente GitIcon
    ],
    githubLink: "https://github.com",
    demoLink: "https://example.com",
  },
  {
    imageUrl: "/images/img.png",
    imageAlt: "Vista previa del proyecto 1",
    title: "Proyecto 1",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor non error neque expedita ab adipisci est tempore quibusdam.",
    skills: [
      { name: "Git", icon: GitIcon }, // Pasa el componente GitIcon
      { name: "Git", icon: GitIcon }, // Pasa el componente GitIcon
      { name: "Git", icon: GitIcon }, // Pasa el componente GitIcon
    ],
    githubLink: "https://github.com",
    demoLink: "https://example.com",
  },
];
---

<section
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 justify-center items-start"
  aria-labelledby="projects-section"
>
  {projects.map((project) => (
    <ProjectCard {...project} />
  ))}
</section>


