<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-custom-gradient"
    ></span>
    <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-primary bg-blue-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap  font-Poppins">
      <slot />
    </div>
  </span>
</div>


