---
const languages = ['en', 'es'];

const changeLanguage = (lang) => {
  document.dispatchEvent(new CustomEvent('langChange', { detail: lang })); // Evento global
};
---

<div>
  {languages.map((lang) => (
    <button type="button" onClick={() => changeLanguage(lang)}>{lang.toUpperCase()}</button>
  ))}
</div>
