<div class="flex items-center p-5">
  <img
    src="/public/images/AAF8xuvOsFs_1738044177819.svg"
    alt="Logo"
    class="w-24 h-24 -mr-3"
  />
  <div class="flex flex-col justify-center items-center font-Marykate mt-4">
    <p class="text-2xl text-blue-500 font-bold -mb-3">DIEGO SUÁREZ</p>
    <p class="text-sm text-gray-900 dark:text-white mt-1">
      DESARROLLADOR DE SOFTWARE
    </p>
  </div>
</div>
